---
layout: base
short_name: Láser Arena
title: Láser Arena - Adventure Land Panamá
permalink: /atracciones/laser_arena/
description: Declara la guerra láser en nuestra arena de juegos láser.
---

{% include title.html %}


<div class="classes-single section_padding_top_30 section_padding_bottom_30">
  <div class="container">
    <div class="col-md-3">
      <div class="col-md-12">
        <img class="circle" src="{% asset_path 'images/atracciones/laser.png' %}" alt="Adventure Land - Laser Arena - Panamá">
      </div>
      <div class="col-md-12">
        <div class="parallax-title bg-white">
          <br>
          <p class="lead">¡La diversión se vive en <strong>Adventure Land!</strong> </p>
        </div>
        <p>Somos un <strong>parque de recreación</strong> ubicado en Llano Bonito, Ciudad de Panamá, que cuenta con todas las actividades deportivas y de entrenamiento para grandes y chicos: Playground de niños, canchas de fútbol con grama sintética de alta calidad 100% climatizadas, simulador de golf virtual, arena de guerra láser, salones de fiestas para alquiler y cafetería.
          <br><br><strong>¡En Adventure Land todos se entretienen!</strong> Así los invitamos a vivir la diversión al máximo con familia o amigos.</p>
        <a href="{% link ubicacion.html %}" class="btn">Ver nuestra ubicación</a>
      </div>

    </div>
    <div class="col-md-9">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8">
            <figure class="classes-single__img-01">
              <img src="{% asset_path 'images/gallery/laser-arena-1.jpg' %}" alt="Adventure Land - Laser Arena - Panamá">
            </figure>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="classes-single__img-02 bottommargin_20">
              <img src="{% asset_path 'images/gallery/laser-arena-3.jpg' %}" alt="Adventure Land - Laser Arena - Panamá">
            </div>
            <div class="classes-single__img-02">
              <img src="{% asset_path 'images/gallery/laser-arena-4.jpg' %}" alt="Adventure Land - Laser Arena - Panamá">
            </div>

          </div>
        </div>

      <div class="classes-single-content-wrap">
        <div class="classes-single-content">

          <div class="classes-single-wrap">
            <h3 class="classes-single__title"><br>Declara la guerra láser en nuestra arena de juegos láser.</h3>
            <p>* Horarios para inicio de sesiones:<br>3:00 pm, 4:30 pm, 6:00 pm, 7:30 pm, 9:00 pm
            </p>
            <ul class="listarena">
              <li>Costo de $ 25 + Itbms por persona, precio  por Apertura</li>
              <li>Misiones  + Misión de Last Man Standing</li>
              <li>750 Disparos</li>
              <li>Sesiones de 1 Hora aprox.</li>
              <li>Deben Llegar con anticipación por lo menos  20 min antes</li>
              <li>Costo de $ 25 + Itbms por persona, precio  por Apertura</li>
            </ul>
            <p>Para juego de grupos o salón privado máximo 12 personas, mínimo 8 personas y el costo es de $ 220 por 1 hora.<br> <strong>Reserva Telefónica 387 4167 / 6231-8361</strong></p>
          </div>
        </div>

      </div>
      </div>



    </div>
  </div>
</div>
{% include index/paralax.html %}
