---
layout: base
short_name: Rope Course
title: Rope Course - Adventure Land Panamá
permalink: /atracciones/course_rope/
---

{% include title.html %}


<div class="classes-single section_padding_top_30 section_padding_bottom_30">
  <div class="container">
    <div class="col-md-3">
      <div class="col-md-12">
        <img class="circle" src="{% asset_path 'images/atracciones/parque.png' %}" alt="">
      </div>
      <div class="col-md-12">
        <div class="parallax-title bg-white">
          <br>
          <p class="lead">¡La diversión se vive en <strong>Adventure Land!</strong> </p>
        </div>
        <p>Somos un <strong>parque de recreación</strong> ubicado en Llano Bonito, Ciudad de Panamá, que cuenta con todas las actividades deportivas y de entrenamiento para grandes y chicos: Playground de niños, canchas de fútbol con grama sintética de alta calidad 100% climatizadas, simulador de golf virtual, arena de guerra láser, salones de fiestas para alquiler y cafetería.
          <br><br><strong>¡En Adventure Land todos se entretienen!</strong> Así los invitamos a vivir la diversión al máximo con familia o amigos.</p>
        <a href="{% link ubicacion.html %}" class="btn">Ver nuestra ubicación</a>
      </div>

    </div>
    <div class="col-md-9">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8">
            <figure class="classes-single__img-01">
              <img src="{% asset_path 'images/gallery/course-rope-1.jpg' %}" alt="">
            </figure>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="classes-single__img-02 bottommargin_20">
              <img src="{% asset_path 'images/gallery/course-rope-3.jpg' %}" alt="">
            </div>
            <div class="classes-single__img-02">
              <img src="{% asset_path 'images/gallery/course-rope-4.jpg' %}" alt="">
            </div>

          </div>
        </div>

      <div class="classes-single-content-wrap">
        <div class="classes-single-content">

          <div class="classes-single-wrap">
            <h3 class="classes-single__title"><br>Rope Course</h3>
            <p>Rope Course para niños de 6 años en adelante pasea por las alturas y desafía tus miedos con nuestro circuito de cuerdas  con obstáculos.</p>
            Puedes escoger entre:
            <ul class="listrope">
              <li>15 min  $5 por niño</li>
              <li>30 min  $9 por niño</li>
            </ul>

          </div>
        </div>

      </div>
      </div>



    </div>
  </div>
</div>
{% include index/paralax.html %}
