---
layout: base
short_name: iGolf
title: iGolf - Adventure Land Panamá
---

{% include title.html %}


<div class="classes-single section_padding_top_30 section_padding_bottom_30">
  <div class="container">
    <div class="col-md-3">
      <div class="col-md-12">
        <img class="circle" src="{% asset_path 'images/atracciones/golf.png' %}" alt="">
      </div>
      <div class="col-md-12">
        <div class="parallax-title bg-white">
          <br>
          <p class="lead">¡La diversión se vive en <strong>Adventure Land!</strong> </p>
        </div>
        <p>Somos un <strong>parque de recreación</strong> ubicado en Llano Bonito, Ciudad de Panamá, que cuenta con todas las actividades deportivas y de entrenamiento para grandes y chicos: Playground de niños, canchas de fútbol con grama sintética de alta calidad 100% climatizadas, simulador de golf virtual, arena de guerra láser, salones de fiestas para alquiler y cafetería.
          <br><br><strong>¡En Adventure Land todos se entretienen!</strong> Así los invitamos a vivir la diversión al máximo con familia o amigos.</p>
        <a href="{% link ubicacion.html %}" class="btn">Ver nuestra ubicación</a>
      </div>

    </div>
    <div class="col-md-9">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8">
            <figure class="classes-single__img-01">
              <img src="http://placehold.it/800x600" alt="">
            </figure>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="classes-single__img-02 bottommargin_20">
              <img src="http://placehold.it/380x290" alt="">
            </div>
            <div class="classes-single__img-02">
              <img src="http://placehold.it/380x290" alt="">
            </div>

          </div>
        </div>

      <div class="classes-single-content-wrap">
        <div class="classes-single-content">

          <div class="classes-single-wrap">
            <h3 class="classes-single__title"><br>iGolf</h3>
            <p>Simulador de Golf, espacio cerrado para el relax y privacidad de los clientes.</p>
            <ul class="listgolf">
              <li>Horario de 3:00 pm a 12:00 pm</li>
              <li>Se aceptan clientes  desde las 8:00 am a 3:00 pm con atención limitada</li>
              <li>Costo de 1 Hora en Bahía de $ 29.99 la 2da Hora en $ 19.99</li>
              <li>Máximo 4 personas por Bahía</li>
            </ul>
            <p>Membresia $ 150.00 Mensuales, Contrato Trimestral, Semestral o Anual, 1 Hora diaria, si llevan invitados sin membresia paga $ 7 por la hora por cada invitado, max 2 invitados.</p>
          </div>
        </div>

      </div>
      </div>



    </div>
  </div>
</div>
{% include index/paralax.html %}
