---
layout: base
short_name: Atracciones
title: Atracciones- Adventure Land Panamá
permalink: /atracciones/
description: Somos un parque de recreación ubicado en Llano Bonito, Ciudad de Panamá, que cuenta con todas las actividades deportivas y de entrenamiento para grandes y chicos.
---


{% include title.html %}

<div class="section_padding_top_30 section_padding_bottom_30">
  <div class="container parallax-content">
    <div class="row">


      <div class="col-md-3">
        <div class="col-md-12">
          <img class="circle" src="{% asset_path 'images/gallery/paralax2.jpg' %}" alt="Adventure Land - Panamá">
        </div>
        <div class="col-md-12">
          <div class="parallax-title bg-white">
            <br>
            <p class="lead">¡En <strong>Adventure Land</strong> todos se <strong>entretienen!</strong> Así los invitamos a vivir la diversión al máximo con familia o amigos.</p>
          </div>
          <p><strong>¡La diversión se vive en Adventure Land!</strong> Somos un parque de recreación ubicado en Llano Bonito, Ciudad de Panamá, que cuenta con todas las actividades deportivas y de entrenamiento para grandes y chicos: Playground de niños, canchas de fútbol con grama sintética de alta calidad 100% climatizadas, simulador de golf virtual, arena de guerra láser, salones de fiestas para alquiler y cafetería.</p>
          <a href="{% link ubicacion.html %}" class="btn">Nuestra ubicación</a>
        </div>

      </div>
      <div class="col-md-9">

        {% include attractions/attractions.html %}
      </div>
    </div>


  </div>
</div>

{% include index/gallery.html %}
