---
layout: base
short_name: Atracciones
title: Atracciones- Adventure Land Panamá
attractions: [
{
  "name": "Play<br>Ground",
  "image": "atracciones_playground.jpg",
  "age": "0a",
  "description": "Desde los 6 meses en adelante pueden los niños disfrutar.",
  "link": "#"
},
{
  "name": "Arena<br>Laser",
  "image": "atracciones_laser.jpg",
  "age": "10a",
  "description": "Declara la guerra láser en nuestra arena de juegos láser.",
  "link": "atracciones/arena_laser.html"
},
{
  "name": "Course<br>Rope",
  "image": "atracciones_playground.jpg",
  "age": "3a 10a",
  "description": "Pasea por las alturas y desafía tus miedos.",
  "link": "#"
},
{
  "name": "Pared de<br>Escalar",
  "image": "atracciones_playground.jpg",
  "age": "3a 10a",
  "description": "Para que los niños intenten llegar a lo más alto.",
  "link": "#"
},
{
  "name": "Futbol<br>Town",
  "image": "atracciones_futbol.jpg",
  "age": "10a adultos",
  "description": "Juega tus partidos de fútbol en las mejores canchas de Panamá.",
  "link": "#"
},
{
  "name": "igolf<br>",
  "image": "atracciones_igolf.jpg",
  "age": "adultos",
  "description": "Prueba nuestro simulador de golf virtual.",
  "link": "#"
}
]
gallery: [
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x1484",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x820",
  "attraction": "futbol",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1600x1500",
  "attraction": "golf",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x704",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x781",
  "attraction": "laser",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x665",
  "attraction": "futbol",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x548",
  "attraction": "laser",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
]
---


{% include title.html %}

<div class="section_padding_top_30 section_padding_bottom_30">
  <div class="container parallax-content">
    <div class="row">


      <div class="col-md-3">
        <img class="circle mb-30" src="http://placehold.it/512x512">

        <p>¡En Adventure Land todos se entretienen! Así los invitamos a vivir la diversión al máximo con familia o amigos.</p>


          <div>
            <div class="steps">
              <div class="step-img">
                <img class="circle float-left" src="{% asset_path 'images/bg/bg_item.jpg' %}" alt="" width="25" height="25">
              </div>
              <div class="step-desc">
                <p>La diversión es infinita con nuestros 2700 m2 de espacios acondicionados para fiestas, deportes y actividades recreativas.</p>
              </div>
            </div>
            <br>
            <div class="steps">
              <div class="step-img">
                <img class="circle float-left" src="{% asset_path 'images/bg/bg_item.jpg' %}" alt="" width="25" height="25">
              </div>
              <div class="step-desc">
                <p>Para grandes y chicos: desde playgrounds a partir de los 6 meses hasta arenas de guerra láser, simuladores de golf virtual y canchas de fútbol techadas para jóvenes y adultos.</p>
              </div>
            </div>
            <br>
            <div class="steps">
              <div class="step-img">
                <img class="circle float-left" src="{% asset_path 'images/bg/bg_item.jpg' %}" alt="" width="25" height="25">
              </div>
              <div class="step-desc">
                <p>En Fútbol Town los espera un conjunto de canchas de fútbol 100% climatizadas con grama sintética de alta calidad.</p>
              </div>
            </div>
            <br>
            <div class="steps">
              <div class="step-img">
                <img class="circle float-left" src="{% asset_path 'images/bg/bg_item.jpg' %}" alt="" width="25" height="25">
              </div>
              <div class="step-desc">
                <p>Playground para niños bebés de 6 meses a 2 años, con pared de escalar y Course Roupe para niños a partir de los 4 años.</p>
              </div>
            </div>
          </div>



      </div>
      <div class="col-md-9">
        <p class="lead">¡La diversión se vive en Adventure Land!</p>
      <p>Somos un parque de recreación ubicado en Llano Bonito, Ciudad de Panamá, que cuenta con todas las actividades deportivas y de entrenamiento para grandes y chicos: Playground de niños, canchas de fútbol con grama sintética de alta calidad 100% climatizadas, simulador de golf virtual, arena de guerra láser, salones de fiestas para alquiler y cafetería.</p>
        {% include attractions/attractions.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{% link calendario.html %}" class="button-adventure2">Reserve el parque para su evento</a>
      </div>
    </div>

  </div>
</div>

{% include index/gallery.html %}
