---
layout: base
short_name: Atracciones
title: Atracciones- Adventure Land Panamá
attractions: [
{
  "name": "Lorem<br>Ipsum",
  "image": "demo.jpg",
  "age": "3a 10a",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem<br>Ipsum",
  "image": "demo.jpg",
  "age": "10a adultos",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem<br>Ipsum",
  "image": "demo.jpg",
  "age": "adultos",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem<br>Ipsum",
  "image": "demo.jpg",
  "age": "10a",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem<br>Ipsum",
  "image": "demo.jpg",
  "age": "0a 3a",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem<br>Ipsum",
  "image": "demo.jpg",
  "age": "3a 0a 10a",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
}
]
---
{% include title.html %}
{% include index/attractions.html %}
{% include index/gallery.html %}
