---
layout: base
short_name: Nuestro Café
title: Nuestro Café - Adventure Land Panamá
permalink: /cafe/
---

{% include title.html %}

<div class="classes-single section_padding_top_30 section_padding_bottom_30">
  <div class="container">
    <div class="col-md-3">
      <div class="col-md-12">
        <img class="circle" src="{% asset_path 'images/cafe/logo.png' %}" alt="">
      </div>
      <div class="col-md-12">
        <div class="parallax-title bg-white">
          <br>
          <p class="lead">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit, sed do eiusmod</p>
        </div>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        <a href="#" class="btn">Ver nuestra ubicación</a>
      </div>

    </div>
    <div class="col-md-9">

      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8">
            <figure class="classes-single__img-01">
              <img src="http://placehold.it/800x600" alt="">
            </figure>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="classes-single__img-02 bottommargin_30">
              <img src="http://placehold.it/380x280" alt="">
            </div>
            <div class="classes-single__img-02 bottommargin_30">
              <img src="http://placehold.it/380x280" alt="">
            </div>

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="classes-single-content section_padding_bottom_30">

            <div class="row padding_bottom_30">


            <div class="col-md-12 no-padding">
              <h4><i class="fa fa-star" aria-hidden="true"></i> Platos Destacados</h4>
            </div>

              <div class="col-md-4 menu-item text-center no-padding">
                <div class="menu-icon">
                  <img class="circle"src="http://placehold.it/512x512" alt="">
                </div>
                <div class="menu-desc">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <h5 class="price-menu">$5.95</h5>
                </div>

              </div>
              <div class="col-md-4 menu-item text-center no-padding">
                <div class="menu-icon">
                  <img class="circle"src="http://placehold.it/512x512" alt="">
                </div>
                <div class="menu-desc">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <h5 class="price-menu">$5.95</h5>
                </div>

              </div>
              <div class="col-md-4 menu-item text-center no-padding">
                <div class="menu-icon">
                  <img class="circle"src="http://placehold.it/512x512" alt="">
                </div>
                <div class="menu-desc">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <h5 class="price-menu">$5.95</h5>
                </div>

              </div>
              <div class="col-md-4 menu-item text-center no-padding">
                <div class="menu-icon">
                  <img class="circle"src="http://placehold.it/512x512" alt="">
                </div>
                <div class="menu-desc">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <h5 class="price-menu">$5.95</h5>
                </div>

              </div>
              <div class="col-md-4 menu-item text-center no-padding">
                <div class="menu-icon">
                  <img class="circle"src="http://placehold.it/512x512" alt="">
                </div>
                <div class="menu-desc">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <h5 class="price-menu">$5.95</h5>
                </div>

              </div>
              <div class="col-md-4 menu-item text-center no-padding">
                <div class="menu-icon">
                  <img class="circle"src="http://placehold.it/512x512" alt="">
                </div>
                <div class="menu-desc">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <h5 class="price-menu">$5.95</h5>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% include index/paralax.html %}
