---
layout: base
title: Planea tu evento

eventos: [
{
  "image": "http://placehold.it/360x282",
  "title": "Cumpleaños",
  "description": "Prepara las  fiestas de cumpleaños de todos en la familia, tenemos paquetes que incluyen desde los más pequeños de la casa hasta los más grandes.",
},
{
  "image": "http://placehold.it/360x282",
  "title": "Eventos Corporativos",
  "description": "Fiestas corporativas, tanto para niños como adultos pueden ser celebradas en nuestras instalaciones. <br><br>",
},
{
  "image": "http://placehold.it/360x282",
  "title": "Eventos Especiales",
  "description": "Trip del colegio, fin de curso, charlas, cursos y más pueden ser realizados en nuestro parque.<br><br>",
},
{
  "image": "http://placehold.it/360x282",
  "title": "Eventos de Colegios",
  "description": "Pro graduación, recaudación de fondos, etc.",
},
{
  "image": "http://placehold.it/360x282",
  "title": "Torneos",
  "description": "Torneos de fútbol o de golf.",
}
]

---
<section class="menu-distance">
{% include evento/title_evento.html %}
{% include evento/item_evento.html %}


</section>
