---
layout: base
title: Adventure Land Panamá - PLayground, Laser Tag, Golf y muhco más
permalink: /
gallery: [
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x1484",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x820",
  "attraction": "futbol",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1600x1500",
  "attraction": "golf",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x704",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x781",
  "attraction": "laser",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x665",
  "attraction": "futbol",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x548",
  "attraction": "laser",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
]
---
{% include index/slider.html %}
{% include index/attractions.html %}
{% include index/paralax.html %}
{% include index/gallery.html %}
{% include index/map.html %}
