---
layout: base
title: Adventure Land Panamá - PLayground, Laser Tag, Golf y muhco más
permalink: /
gallery: [
{
  "name": "Course Rope",
  "image": "assets/images/gallery/course-rope-1.jpg",
  "attraction": "course",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Course Rope",
  "image": "assets/images/gallery/course-rope-2.jpg",
  "attraction": "course",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Pared de escalar",
  "image": "assets/images/gallery/pared-escalar-1.jpg",
  "attraction": "pared",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Pared de escalar",
  "image": "assets/images/gallery/pared-escalar-2.jpg",
  "attraction": "pared",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Playground",
  "image": "assets/images/gallery/playground-1.jpg",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Playground",
  "image": "assets/images/gallery/playground-2.jpg",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Pared de escalar",
  "image": "assets/images/gallery/pared-escalar-4.jpg",
  "attraction": "pared",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Course Rope",
  "image": "assets/images/gallery/course-rope-8.jpg",
  "attraction": "course",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
}
]
---
{% include index/slider.html %}
{% include index/attractions.html %}
{% include index/paralax.html %}
{% include index/gallery.html %}
{% include index/map.html %}
