---
layout: base
title: Adventure Land Panamá - PLayground, Láser Arena, Golf y muhco más
permalink: /
gallery: [
{
  "name": "Fútbol Town",
  "image": "assets/images/gallery/futbol-town-2.jpg",
  "attraction": "futbol",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/futbol-town.html"
},
{
  "name": "Course Rope",
  "image": "assets/images/gallery/course-rope-2.jpg",
  "attraction": "course",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/course_rope.html"
},
{
  "name": "iGolf",
  "image": "assets/images/gallery/igolf-2.jpg",
  "attraction": "igolf",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/igolf.html"
},
{
  "name": "Playground",
  "image": "assets/images/gallery/playground-1.jpg",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/playground.html"
},
{
  "name": "Pared de escalar",
  "image": "assets/images/gallery/pared-escalar-2.jpg",
  "attraction": "pared",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/pared_escalar.html"
},
{
  "name": "Playground",
  "image": "assets/images/gallery/playground-2.jpg",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/playground.html"
},
{
  "name": "Fútbol Town",
  "image": "assets/images/gallery/futbol-town-4.jpg",
  "attraction": "futbol",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/futbol-town.html"
},
{
  "name": "Láser Arena",
  "image": "assets/images/gallery/laser-arena-1.jpg",
  "attraction": "laser",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/arena-_aser.html"
}
]
---
{% include index/slider.html %}
{% include index/attractions.html %}
{% include index/paralax.html %}
{% include index/gallery.html %}
{% include index/map.html %}
