---
layout: base
short_name: Planea Tu Evento
title: Planea Tu Evento - Adventure Land Panamá

gallery: [
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x1484",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x820",
  "attraction": "futbol",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1600x1500",
  "attraction": "golf",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x704",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x781",
  "attraction": "laser",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x665",
  "attraction": "futbol",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x548",
  "attraction": "laser",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
}
]
---

{% include title.html %}

<div class="section_padding_top_135 section_padding_bottom_70">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="title-02">Planea tu Evento</h3>
        <p class="lead"> Alquiler de salones de fiestas para cumpleaños, eventos, eventos corporativos, eventos especiales, eventos de colegios, torneos de fútbol o golf.</p><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="banner-01 text-center">
          <div class="banner-01__icon-wrapp">
            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
          </div>
          <h3 class="banner-01__title">Cumpleaños</h3>
          <p class="banner-01__text">Aenean tincidunt lorem vel varius tempus. Aenean quis sem hendrerit, tempus metus ac, ornare diam. Aliquam ligula lectus.</p>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="banner-01 text-center">
          <div class="banner-01__icon-wrapp">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </div>
          <h3 class="banner-01__title">Eventos Corporativos</h3>
          <p class="banner-01__text">Phasellus a congue felis, at maximus mi. Curabitur facilisis placerat purus, sed porttitor est imperdiet a.</p>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="banner-01 text-center">
          <div class="banner-01__icon-wrapp">
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <h3 class="banner-01__title">Eventos Especiales</h3>
          <p class="banner-01__text">Etiam condimentum feugiat nibh, eget ultrices eros rhoncus sed. Nullam tempus tristique mi nec volutpat.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="banner-01 text-center">
          <div class="banner-01__icon-wrapp">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          </div>
          <h3 class="banner-01__title">Eventos de Colegios</h3>
          <p class="banner-01__text">Sed placerat facilisis ipsum, nec sagittis augue fermentum id. Suspendisse egestas fringilla nibh, in dignissim ultricies at.</p>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="banner-01 text-center">
          <div class="banner-01__icon-wrapp">
            <i class="fa fa-trophy" aria-hidden="true"></i>
          </div>
          <h3 class="banner-01__title">Torneos</h3>
          <p class="banner-01__text">Curabitur interdum iaculis mi. Mauris iaculi tortor ligula, et pretium neque consequat non. Nullam aliquet imperdiet.</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% include index/gallery.html %}
