---
layout: base
short_name: Planea Tu Evento
title: Planea Tu Evento - Adventure Land Panamá
permalink: /planea/
description: Alquiler de salones de fiestas para cumpleaños, eventos corporativos, eventos especiales, eventos de colegios, torneos de fútbol o golf
---

{% include title.html %}

<div class="section_padding_top_30 section_padding_bottom_70">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% include forms/cotiza.html %}
        <div class="parallax-title bg-white">
          <br>
          <p class="lead">Planea tu evento</p>
        </div>
        <p><strong>Alquiler de salones de fiestas</strong> para cumpleaños, eventos corporativos, eventos especiales, eventos de colegios, torneos de fútbol o golf</p>
        <!--<a href="{% link calendario.html %}" class="btn">Ver Calendario</a>-->
      </div>

      <div class="col-md-8">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="banner-01 text-center">
            <div class="banner-01__icon-wrapp">
              <i class="fa fa-birthday-cake" aria-hidden="true"></i>
            </div>
            <h3 class="banner-01__title">Cumpleaños</h3>
            <p class="banner-01__text">Prepara las  fiestas de cumpleaños de todos en la familia, tenemos paquetes que incluyen desde los más pequeños de la casa hasta los más grandes.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="banner-01 text-center">
            <div class="banner-01__icon-wrapp">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
            </div>
            <h3 class="banner-01__title">Eventos Corporativos</h3>
            <p class="banner-01__text">Fiestas corporativas, tanto para niños como adultos pueden ser celebradas en nuestras instalaciones.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="banner-01 text-center">
            <div class="banner-01__icon-wrapp">
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <h3 class="banner-01__title">Eventos Especiales</h3>
            <p class="banner-01__text">Trip del colegio, fin de curso, charlas, cursos y más pueden ser realizados en nuestro parque.</p>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="banner-01 text-center">
            <div class="banner-01__icon-wrapp">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <h3 class="banner-01__title">Eventos de Colegios</h3>
            <p class="banner-01__text">Pro graduación, recaudación de fondos, etc.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="banner-01 text-center">
            <div class="banner-01__icon-wrapp">
              <i class="fa fa-trophy" aria-hidden="true"></i>
            </div>
            <h3 class="banner-01__title">Torneos</h3>
            <p class="banner-01__text">Torneos de<br>fútbol o de golf.</p>
          </div>
        </div>
      </div>


    </div>



</div>
</div>

{% include index/gallery.html %}
