---
layout: base
short_name: Precios
title: Precios - Adventure Land Panamá
permalink: /precios/
description: Playground de niños, canchas de fútbol con grama sintética de alta calidad 100% climatizadas, simulador de golf virtual, arena de guerra láser, salones de fiestas para alquiler y cafetería.
---

{% include title.html %}

<div class="section_padding_top_30 section_padding_bottom_70">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        {% include planea/cotiza_form.html %}
        <div class="parallax-title bg-white">
          <br>
          <p class="lead">¡En <strong>Adventure Land</strong> todos se <strong>entretienen!</strong> Así los invitamos a vivir la diversión al máximo con familia o amigos.</p>
        </div>
        <p><strong>¡La diversión se vive en Adventure Land!</strong> Somos un parque de recreación ubicado en Llano Bonito, Ciudad de Panamá, que cuenta con todas las actividades deportivas y de entrenamiento para grandes y chicos: Playground de niños, canchas de fútbol con grama sintética de alta calidad 100% climatizadas, simulador de golf virtual, arena de guerra láser, salones de fiestas para alquiler y cafetería.</p>
        <!--<a href="{% link calendario.html %}" class="btn">Ver Calendario</a>-->
      </div>

      <div class=" col-md-8 ">
        <div class="row  promobox">

          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="promoicon">
              <img src="{% asset_path 'images/promo_icon.png' %}" alt"Adventure Land - Promoción de Verano">
            </div>
          </div>

          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="promotexto"><span class="titlepromo1">PROMOCIÓN</span>
              <br><span class="titlepromo2">DE VERANO</span>
            </div>
          </div>

          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="promotexto2">
              <span class="prices-01__price-wrapp">
                <span class="prices-01__price-01">$</span>
                <span class="prices-01__price-02">12</span>
                <span class="prices-01__price-03">/día</span>
              </span>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="promotexto3">
              Este precio es válido por todo el día y se puede usar el <strong>Rope Course</strong>, <strong>Pared de Escalar</strong> y <strong>Playground</strong>.
            </div>
          </div>
        </div>


      <div class="col-md-6 ">
        <div class="prices-01 text-center">
          <img class="circle" src="{% asset_path 'images/atracciones/parque.png' %}" alt="Adventure Land - Playground">
          <h3 class="prices-01__title prices-01__title--01">Adventure Land</h3>
          <p class="prices-01__price">
            <span class="prices-01__price-wrapp">
              <span class="prices-01__price-01">$</span>
              <span class="prices-01__price-02">12</span>
              <span class="prices-01__price-03">/niño</span>
            </span>
          </p>
          <ul class="prices-01__list">
            <li>Playground, Rope Course y Paredes de Escalar</li>

          </ul>
          <a href="{% link atracciones/adventureland.html %}" class="prices-01__button">Conocer Más</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="prices-01 text-center">
          <img class="circle" src="{% asset_path 'images/atracciones/laser.png' %}" alt="Adventure Land - Láser Arena">
          <h3 class="prices-01__title prices-01__title--02">Laser Arena</h3>
          <p class="prices-01__price">
            <span class="prices-01__price-wrapp">
              <span class="prices-01__price-01">$</span>
              <span class="prices-01__price-02">25</span>
              <span class="prices-01__price-03">/hora</span>
              <span class="prices-01__price-03">*</span>
            </span>
          </p>
          <ul class="prices-01__list">
            <li>Declara la guerra láser en nuestra arena de juegos láser</li>
          </ul>
          <a href="{% link atracciones/arena_laser.html %}" class="prices-01__button">Conocer Más</a>
        </div>
      </div>




      <div class="col-md-6">
        <div class="prices-01 text-center">
          <img class="circle" src="{% asset_path 'images/atracciones/futbol.png' %}" alt="Adventure Land - Fútbol Town">
          <h3 class="prices-01__title prices-01__title--05">Fútbol Town</h3>
          <p class="prices-01__price">
            <span class="prices-01__price-wrapp">
              <span class="prices-01__price-01">$</span>
              <span class="prices-01__price-02">65</span>
              <span class="prices-01__price-03">/hora</span>
            </span>
          </p>
          <ul class="prices-01__list">
            <li>Canchas de Fútbol techadas y 100 % climatizadas.</li>
          </ul>
          <a href="{% link atracciones/futbol_town.html %}" class="prices-01__button">Conocer Más</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="prices-01 text-center">
          <img class="circle" src="{% asset_path 'images/atracciones/golf.png' %}" alt="Adventure Land - iGolf">
          <h3 class="prices-01__title prices-01__title--06">igolf</h3>
          <p class="prices-01__price">
            <span class="prices-01__price-wrapp">
              <span class="prices-01__price-01">$</span>
              <span class="prices-01__price-02">29</span><span class="prices-01__price-03">.99</span>
              <span class="prices-01__price-03">/hora</span>
            </span>
          </p>
          <ul class="prices-01__list">
            <li><strong>$19.99/hora la 2da hora</strong><br>Simulador de Golf <br>¡Consulta por las Membresías!</li>
          </ul>
          <a href="{% link atracciones/igolf.html %}" class="prices-01__button">Conocer Más</a>
        </div>
      </div>
      </div>
    </div>
  </div>




</div>
</div>
