---
layout: base
title: Ubicación - Adventure Land Panamá
permalink: /ubicacion/
gallery: [
{
  "name": "Rope Course",
  "image": "assets/images/gallery/course-rope-1.jpg",
  "attraction": "course",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/course_rope.html"
},
{
  "name": "Rope Course",
  "image": "assets/images/gallery/course-rope-2.jpg",
  "attraction": "course",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/course_rope.html"
},
{
  "name": "Pared de escalar",
  "image": "assets/images/gallery/pared-escalar-1.jpg",
  "attraction": "pared",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/pared_escalar.html"
},
{
  "name": "Pared de escalar",
  "image": "assets/images/gallery/pared-escalar-2.jpg",
  "attraction": "pared",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "atracciones/pared_escalar.html"
}
]
---

<section class="slider_padding">

{% include ubicacion/map.html %}
{% include ubicacion/gallery.html %}

</section>
