---
layout: base
title: Ubicación - Adventure Land Panamá

gallery: [
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x820",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x820",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x820",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
},
{
  "name": "Lorem Ipsum",
  "image": "http://placehold.it/1000x820",
  "attraction": "play",
  "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  "link": "#"
}
]
---

<section class="slider_padding">

{% include ubicacion/map.html %}
{% include ubicacion/gallery.html %}

</section>
