<div class=" contact-01 section_padding_top_30 section_padding_bottom_30">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="contact-01-info no-padding">
          <div class="section-title no-after bg-white">
            <div class="container-fluid no-padding">
              <h2>¡Saludos Aventurero!</h2>
              <hr>
            </div>
          </div>
          <p>Los esperamos para vivir pura diversión en Adventure Land, el parque para toda la familia.<br></p>
          <p>Envianos un mensaje y síganos en redes sociales para que sigas la pista de nuestras noticias, promociones y eventos.</p>
          <!--<a href="{% link calendario.html %}" class="button-adventure2">Ver calendario de eventos</a>-->
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        {% include forms/contacto.html  %}
      </div>

    </div>
  </div>
</div>
