<div class="row">
  <div class="col-lg-12 title-block">
    <p class="title-block-02 text-center">Contacto</p>
    <h3 class="title-block-01 text-center">Contactenos</h3>
  </div>
</div>

<div class="ls ms section_padding_top_75 ">
  <div class="container">
    <div class="row">
      <div class="post-type-1__content-text">
        <h3><strong>¡Saludos, aventureros!</strong></h3>
        <p>Los esperamos para vivir pura diversión en Adventure Land, el parque para toda la familia.<br><strong>Envianos un mensaje</strong> y <strong>síganos en redes sociales</strong> para que sigas la pista de nuestras noticias, promociones y eventos.</p>
      </div>
      <div class="col-sm-12 to_animate">
        <form class="contact-form cs parallax columns_padding_5" method="post" action="/">
          <div class="row">

            <div class="col-sm-6">
              <p class="contact-form-name">
                <label for="name">Nombre Completo
                  <span class="required">*</span>
                </label>
                <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Nombre Completo">
              </p>
              <p class="contact-form-email">
                <label for="email">Email address
                  <span class="required">*</span>
                </label>
                <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email">
              </p>
              <p class="contact-form-subject">
                <label for="subject">Teléfono
                  <span class="required">*</span>
                </label>
                <input type="text" aria-required="true" size="25" value="" name="subject" id="subject" class="form-control" placeholder="Teléfono">
              </p>
            </div>
            <div class="col-sm-6">

              <p class="contact-form-message">
                <label for="message">Mensaje</label>
                <textarea aria-required="true" rows="6" cols="45" name="message" id="message" class="form-control" placeholder="Su mensaje"></textarea>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">

              <p class="contact-form-submit text-center topmargin_30">
                <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button">Enviar Mensaje</button>
              </p>
            </div>

          </div>
        </form>
      </div>
    </div>



    <div class="row bottommargin_55">
      <div class="col-sm-4 to_animate" data-animation="pullDown">
        <div class="teaser text-center">
          <div class="teaser_icon highlight size_small">
            <i class="rt-icon2-phone5"></i>
          </div>

          <p>
            <span class="grey">Teléfono:</span> +507 387-4167
            <br>

          </p>

        </div>
      </div>
      <div class="col-sm-4 to_animate" data-animation="pullDown">
        <div class="teaser text-center">
          <div class="teaser_icon highlight size_small">
            <i class="rt-icon2-location2"></i>
          </div>

          <p>
            Av. Principal de Llano Bonito y calle 3<sup>a</sup>
            <br> Edificio Prestige Storage, piso 3
            <br> Juan Díaz, Panamá, República de Panamá
          </p>

        </div>
      </div>
      <div class="col-sm-4 to_animate" data-animation="pullDown">
        <div class="teaser text-center">
          <div class="teaser_icon highlight size_small">
            <i class="rt-icon2-world"></i>
          </div>

          <p>info@adventureland.com</p>
          <p>
            <a href="#" class="social-icon color-icon soc-twitter"></a>
            <a href="#" class="social-icon color-icon soc-facebook"></a>
            <a href="#" class="social-icon color-icon soc-google"></a>
            <a href="#" class="social-icon color-icon soc-instagram"></a>
          </p>

        </div>
      </div>

    </div>

  </div>
</div>
