<footer class="page_footer footer-01 section_padding_top_115 section_padding_bottom_55">
	<div class="container">
		<div class="row">
			<div class="col-md-3 mb-25">
				<img src="{% asset_path 'images/logo-bottom.png' %}" alt="Adventure Land Panamá PlayGround" class="logo-footer">
				<p>¡En Adventure Land todos se entretienen! Así los invitamos a vivir la diversión al máximo con familia o amigos.</p>
				<br>
				<a href="{% link contacto.html %}" class="button-adventure">Visítenos o contáctenos</a>

			</div>
			<div class="col-md-9">
			<div class="col-md-3 mb-25">
				<h3>Contáctenos</h3>
				<p>Av. Principal de Llano Bonito y calle 3<sup>a</sup><br> Edif. Prestige Storage, piso 3<br>Juan Díaz, Ciudad de Panamá<br><br></p>
				<ul class="contact-info">
					<li>
						<div class="contact-icon">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="contact-desc">
							<a href="tel:{{site.phone_url}}">{{site.phone}}</a>
						</div>

					</li>
					<li>
						<div class="contact-icon">
							<i class="fa fa-envelope-o" aria-hidden="true"></i></i>
						</div>
						<div class="contact-desc">
							<a href="mailto:{{site.email}}">{{site.email}}</a>
						</div>

					</li>
				</ul>
			</div>
			<div class="col-md-3 mb-25">
				<h3>Horarios</h3>
				<ul class="contact-info2">
					<li>
						<div class="contact-icon">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
						</div>
						<div class="contact-desc2">
							<strong>Adventure Land</strong><br>Lun-Vie: 1pm - 8pm<br>Sab: 11am - 8pm<br>Dom: 11am - 7pm<br><br>
							<strong>Laser Arena:</strong><br> Mar-Dom: 3pm -10pm<br><br>
							<strong>Fútbol Town:</strong><br> Lun-Dom: 8am - 12am <br><br>
							<strong>iGolf</strong><br> Lun-Sab: 10am - 11pm <br> Dom: 10am - 9pm

						</div>

					</li>
				</ul>
			</div>
			<div class="col-md-3 mb-25">
				<h3>Nuestro Website</h3>
				<ul class="footer-menu">
					<li><a href="{% link index.html %}">Inicio</a></li>
					<li><a href="{% link planea.html %}">Planea Tu Evento</a></li>
					<li><a href="{% link atracciones.html %}">Atracciones</a></li>
					<li><a href="{% link precios.html %}">Precios</a></li>
					<li><a href="{% link faqs.html %}">FAQs</a></li>
					<li><a href="{% link contacto.html %}">Contacto</a></li>
				</ul>
			</div>

			<div class="col-md-3 mb-25">
				<h3>redes sociales</h3>
				<p>Síguenos en:</p>
				<ul class="contact-info">
					<li>
						<div class="contact-icon social">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
						<div class="contact-desc">
							<a href="{{site.fb}}" target="_blank">Facebook</a>
						</div>

					</li>
					<li>
						<div class="contact-icon social">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</div>
						<div class="contact-desc">
							<a href="{{site.ig}}" target="_blank">Instagram</a>
						</div>

					</li>

				</ul>

			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-xs-center text-left">
				<p class="copyrights-text-01">&copy; 2016
					Adventure Land - Desarrollado por: <a href="http://bluetideconsulting.com" target="_blank">BlueTide Web Consulting</a>
				</p>
			</div>
		</div>
	</div>
</footer>
