<!-- footer -->

<footer>
    <div class="center">
        <div class="one-fourth widget-area">
            <!-- if you need less change for one-third or one-half -->
            <!-- title -->
            <div class="title">
                <h2><strong>About</strong> us</h2>
                <div class="detail"></div>
            </div>
            <!-- widget -->
            <p>
                Vivamus hendrerit urna non sem maximus, ac consectetur erat rutrum. Aenean semper felis sed elit eleifend, vitae commodo nunc laoreet. Maecenas dolor sapien, ullamcorper ut turpis non.
            </p>
            <div class="about-widget">
                <!-- small logo -->
                <img src="{% asset_path 'img/logo-icon.png' %}" alt="img">
                <!-- contact details -->
                <ul>
                    <li><span>E-mail:</span> contact@gozawi.com</li>
                    <li><span>Phone:</span> +48 555 XXX 054</li>
                </ul>
            </div>
        </div>
        <div class="one-fourth widget-area">
            <!-- title -->
            <div class="title">
                <h2><strong>Explore</strong> more</h2>
                <div class="detail"></div>
            </div>
            <!-- menu -->
            <ul class="menu-widget">
                <li><a href="#">Other demos</a></li>
                <li><a href="#">Shortcodes</a></li>
                <li><a href="#">Shopping area</a></li>
                <li><a href="#">Albums</a></li>
                <li><a href="#">Buy it!</a></li>
            </ul>
        </div>
        <div class="one-fourth widget-area">
            <!-- title -->
            <div class="title">
                <h2><strong>Tag</strong> cloud</h2>
                <div class="detail"></div>
            </div>
            <!-- tag cloud -->
            <ul class="tag-widget">
                <li><a class="button small style-1" href="#">Hip-Hop</a></li>
                <li><a class="button small style-1" href="#">Holiday events 2015</a></li>
                <li><a class="button small style-1" href="#">Song of the month</a></li>
                <li><a class="button small style-1" href="#">Techno</a></li>
                <li><a class="button small style-1" href="#">Blog</a></li>
                <li><a class="button small style-1" href="#">Spoken</a></li>
                <li><a class="button small style-1" href="#">Electronic</a></li>
                <li><a class="button small style-1" href="#">Progressive</a></li>
                <li><a class="button small style-1" href="#">Music</a></li>
                <li><a class="button small style-1" href="#">Albums</a></li>
            </ul>
        </div>
        <div class="one-fourth last widget-area">
            <!-- title -->
            <div class="title">
                <h2><strong>Featured</strong> posts</h2>
                <div class="detail"></div>
            </div>
            <!-- featured posts -->
            <ul class="featured-posts-widget">
                <!-- post -->
                <li>
                    <!-- img -->
                    <img src="{% asset_path 'img/featured/1.png' %}" alt="post">
                    <!-- title -->
                    <h6>
									<a href="#">TOP 10 songs June 2015</a>
								</h6>
                    <span class="icon small style-1">&#xf017;</span><span>June 14, 2015 at 3:18 AM</span>
                </li>
                <!-- post -->
                <li>
                    <!-- img -->
                    <img src="{% asset_path 'img/featured/2.png' %}" alt="post">
                    <!-- title -->
                    <h6>
									<a href="#">Summer update</a>
								</h6>
                    <span class="icon small style-1">&#xf017;</span><span>June 05, 2015 at 8:32 AM</span>
                </li>
            </ul>
        </div>
    </div>
</footer>

<!-- /footer -->

<div class="clearfix"></div>

<!-- copyright -->

<div class="copyright">
    <div class="center">

        <!-- txt -->

        <span><strong>Copyright 2015.</strong> Design & code by wtxinc for Themeforest.net, Photos used in demo by: <a target="_blank" href="https://www.flickr.com/photos/markjsebastian/">Mark Sebastian</a></span>

        <!-- /txt -->

        <!-- social -->

        <ul class="social">
            <li><a href="#"><span>&#xf082;</span></a></li>
            <li><a href="#"><span>&#xf099;</span></a></li>
            <li><a href="#"><span>&#xf16a;</span></a></li>
            <li><a href="#"><span>&#xf0e1;</span></a></li>
        </ul>

        <!-- /social -->

    </div>
</div>

<!-- /copyright -->
