<div class="home-page-header">
				<header class="page_header columns_padding_0">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 text-center">
								<!-- main nav start -->
								<nav class="mainmenu_wrapper">
									<a class="side-menu-open hidden-xs hidden-sm" id="open-button"><i class="fa fa-clock-o" aria-hidden="true"></i> Horarios</a>
									<ul class="mainmenu nav sf-menu text-center">
										<li class="list-logo text-center">
											<a href="{% link index.html %}" class="logo logo_image">
												<img src="{% asset_path 'images/logo.png' %}" alt="">
											</a>
										</li>

										<li class="main-nav main-nav-right">
											<ul>

													<li class="active">
														<a href="{% link index.html %}">Inicio</a>
													</li>
													<li>
														<a href="#">Planea tu Evento</a>
													</li>
													<li>
														<a href="{% link atracciones.html %}">Atracciones</a>
													</li>
													<li>
														<a href="#">Café</a>
													</li>
													<li>
														<a href="#">Ubicación</a>
													</li>
													<li>
														<a href="{% link contacto.html %}">Contacto</a>
													</li>
											</ul>
										</li>
									</ul>



								</nav>
								<div class="toggle_logo hidden-md hidden-lg">
									<img src="{% asset_path 'images/logo.png' %}" alt="">
								</div>
								<span class="toggle_menu">
									<span></span>
								</span>
								<a class="side-menu-open responsive hidden-md hidden-lg" id="open-button-toggle"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</header>
			</div>
