<!-- HEADER -->

<header>
    <div class="top-menu">
        <div class="center">
            <!-- menu -->
            <ul class="menu main">
                <li><a href="mailto:info@adventureland.com"><i class="fa fa-envelope"></i> info@adventureland.com</a></li>
                <li><a href="tel:+507-123-45678"><i class="fa fa-phone"></i> +507 123 45678</a></li>
            </ul>
            <!-- mobile menu trigger -->
            <span class="shifter-handle"></span>
            <!-- menu extra -->
            <ul class="menu extra">
                <li><a href="#"><i class="fa fa-check-square-o"></i> FAQs</a></li>
                <li><a href="#"><i class="fa fa-calendar"></i> CALENDAR</a></li>
            </ul>
        </div>
    </div>
</header>

<!-- /HEADER -->
