<nav class="nav-main-menu">

				<!-- menu -->

				<ul class="menu">
          <li>
            <a class="logo" href="index.html">
                    <img src="/assets/img/logo-2.png" alt="logo">
                </a>
          </li>
					<li><a class="submenu" href="#">Inicio</a>
					</li>
					<li><a class="submenu" href="#">Planea tu Evento</a>
					</li>
					<li><a class="submenu" href="#">Atracciones</a>
					</li>
					<li><a class="submenu" href="#">Café</a>
					</li>
					<li><a class="submenu" href="#">Ubicación</a>
					</li>
					<li><a class="submenu" href="#">Contacto</a>
					</li>
				</ul>

				<!-- /menu -->

			</nav>
