<nav class="nav-main-menu">

				<!-- menu -->

				<ul class="menu">
          <li>
            <a class="logo" href="index.html">
                    <img src="/assets/img/logo-2.png" alt="logo">
                </a>
          </li>
					<li><a class="submenu" href="#">home</a>
					</li>
					<li><a class="submenu" href="#">events</a>
					</li>
					<li><a class="submenu" href="#">discography</a>
					</li>
					<li><a class="submenu" href="#">news</a>
					</li>
					<li><a class="submenu" href="#">videos</a>
					</li>
					<li><a class="submenu" href="#">galleries</a>
					</li>
					<li><a class="submenu" href="#">shop</a>
					</li>
					<li><a class="submenu" href="#">pages</a>
					</li>
					<li><a class="submenu" href="#">more</a>
					</li>
				</ul>

				<!-- /menu -->

			</nav>
