<div class="menu-wrap">
  <nav class="menu scroll-y">
    <div class="side-widget">
      <div class="side-title">
        <div class="side-icon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="side-desc">
          <h3>Horarios:</h3>
          <p>¡Visítanos y disfruta!
        </div>
      </div>
      <div class="side-content">
          <h3>Adventure Land</h3>
          <ul class="horarios">
            <li>
              <p><strong>Lunes a Jueves</strong> 3:00 pm a 7:30 pm</p>
            </li>
            <li>
              <p><strong>Sesiones de Láser Arena:</strong><br> - 3:00 pm <br>- 4:30 pm <br>- 6:00 pm<br>- 7:30 pm <br>- 9:00 pm<br></p>
            </li>
          </ul>
          <h3>Futbol Town</h3>
          <ul class="horarios">
            <li>
              <p><strong>Todos los días</strong> 24H</p>
            </li>
          </ul>
      </div>
    </div>
    <div class="side-widget">
      <div class="side-title">
        <div class="side-icon bg-green">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        </div>
        <div class="side-desc">
          <h3>Reservas o información:</h3>


        </div>
      </div>
      <div class="side-content">
        <small>Rellene los siguinetes datos</small>
        <form class="sidebar-form">
          <input type="text" placeholder="Su nombre">
          <input type="email" placeholder="Su email">
          <input type="text" placeholder="Su teléfono">
          <select>
            <option value="">Seleccione servicios</option>
            <option value="eventos">Eventos</option>
            <option value="cumpleanos">Cumpleaños</option>
            <option value="empresa">Fiesta empresa</option>
          </select>
          <a href="#" class="btn">Enviar solicitud</a>
        </form>
      </div>
    </div>


    </nav>

    <button class="close-button" id="close-button">Close Menu</button>
    <div class="morph-shape" id="morph-shape" data-morph-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
        <path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>
      </svg>
    </div>
  </div>
