<div class="menu-wrap">
  <nav class="menu scroll-y">
    <div class="side-widget">
      <div class="side-title">
        <div class="side-icon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="side-desc">
          <h3>Horarios:</h3>
          <p>¡Visítanos y disfruta!
        </div>
      </div>
      <div class="side-content">
        <img src="http://placehold.it/350x400">
      </div>
    </div>
    <div class="side-widget">
      <div class="side-title">
        <div class="side-icon bg-green">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        </div>
        <div class="side-desc">
          <h3>Reservas o información:</h3>
          <p>Celebre su evento en <strong>Adventure Land</strong>
        </div>
      </div>
      <div class="side-content">
        <img src="http://placehold.it/350x400">
      </div>
    </div>


    </nav>

    <button class="close-button" id="close-button">Close Menu</button>
    <div class="morph-shape" id="morph-shape" data-morph-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
        <path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>
      </svg>
    </div>
  </div>
