@font-face {
  font-family: 'GothamRoundedBold';
  src: url("../fonts/GothamRounded-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRoundedBoldItalic';
  src: url("../fonts/GothamRounded-BoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Book';
  src: url("../fonts/GothamRounded-Book.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-BookItalic';
  src: url("../fonts/GothamRounded-BookItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Light';
  src: url("../fonts/GothamRounded-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-LightItalic';
  src: url("../fonts/GothamRounded-LightItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Medium';
  src: url("../fonts/GothamRounded-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-MediumItalic';
  src: url("../fonts/GothamRounded-MediumItalic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Adventure';
  src: url("../fonts/Adventure.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdventureHollow';
  src: url("../fonts/AdventureHollow.otf");
  font-weight: normal;
  font-style: normal;
}

header .top-menu {
  background-color: #28377A;
  color: #fff;
}

.menu.main li, .menu.extra li {
  font-family: "OpenSansExtraboldItalic";
  font-size: 20px;
}

.menu.main li a, .menu.extra li a, .menu.main li a:hover, .menu.extra li a:hover{
  color: #ffffff !important;
}

.menu.main li i, .menu.extra li i {
  font-style: normal;
}

.nav-main-menu {
  margin-top: 60px;
  max-width: 100%;
  width: 100%;
  height: 110px;
  position: fixed;
  display: inline-block;
  background-color: #F1F3F2;
}

.nav-main-menu .menu {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.shifter-page {
  padding-top: 0px;
}

.nav-main-menu .menu li:first-child {
  margin-right: 150px;
}

.nav-main-menu .menu li .logo {
  padding-bottom: 0px;
}

.nav-main-menu .logo img {
    max-height: 85px;
}

.nav-main-menu .menu li .logo:hover {
  background-color: transparent;
  -webkit-transition: background-color 0ms linear;
  -moz-transition: background-color 0ms linear;
  -o-transition: background-color 0ms linear;
  -ms-transition: background-color 0ms linear;
  transition: background-color 0ms linear;
}

.nav-main-menu .menu li a {
  color: #000;
}

.nav-main-menu .menu li .submenu.current, .nav-main-menu .menu li .submenu:hover {
  background-color: #F26223 !important;
  color: #fff;
}

.slider-wrapp {
  padding-top: 60px;
}

.nav-main-menu .menu li .logo {
  background-color: #F1F3F2;
}

.nav-main-menu .menu li a.submenu {
    background-color: #F1F3F2;
    font-size: 14px;
    font-style: italic;
    padding: 43px 31px 43px 17px;
}

.slider-wrapp .main-slider .owl-next, .slider-wrapp .main-slider .owl-prev {
  top: 40%;
}

.slider-wrapp .main-slider .img-1 {
  background: url(../img/slider/1.jpg) no-repeat 100% 100%; }
.slider-wrapp .main-slider .img-2 {
  background: url(../img/slider/1.jpg) no-repeat 100% 100%; }
.slider-wrapp .main-slider .img-3 {
  background: url(../img/slider/1.jpg) no-repeat 100% 100%; }
.slider-wrapp .main-slider .img-4 {
  background: url(../img/slider/1.jpg) no-repeat 100% 100%; }

.slider-wrapp .main-slider .item .cover {
  background-color: rgba(0,0,0,0);
}

.slider-wrapp .main-slider .item h1 {
  margin: 0;
}

.owl-carousel .owl-item img {
  margin-top: 15px;
  margin-bottom: 10px
}

.slider-wrapp .main-slider .content {
  bottom: -200px;
  background-color: #F26223;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 200px;
}

.img-wrapper h3 {
  margin: 50px 0 0;
}

.img-wrapper {
  margin: 0px;
  height: 125px;
}

.banner1 {
  background-color: #273775;
  position: relative;
}

.banner1::after{
  content: '';
  position: absolute;
  left: 48%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #273775;
  clear: both;
  z-index: 9999;
}

.banner2 {
  background-color: #F26223;
  position: relative;
}

.banner2::after{
  content: '';
  position: absolute;
  left: 48%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #F26223;
  clear: both;
  z-index: 9999;
}

.banner1 .center, .banner2 .center {
  padding-top: 30px;
  padding-bottom: 30px;
}

.banner1 .center h2, .banner2 .center h2 {
  font-family: "Adventure";
  font-size: 40px;
  font-style: italic;
}

.banner1 .center p, .banner2 .center p {
  font-family: "GothamRoundedBoldItalic";
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 20px;
}

.banner1 .center h2, .banner1 .center p, .banner2 .center h2, .banner2 .center p {
  color: #fff;
  text-align: center;
}

.title {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  border: none;
  margin: 0;
}

.title p {
  text-align: left;
  margin-left: 45px;
}

.title .button {
  position: relative;
  display: inline-block;
  left:0;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background-color: #919392;
  font-family: "GothamRoundedBoldItalic";
}

.title .button:active, .title .button:hover {
  background-color: #273775;
  color: #fff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.main-content {
  background-color: #F1F3F2;
  max-width: 100%;
  padding-bottom: 0px;
}

.list li .list-wrapp img {
  border: 8px solid #E0E0E0;
}

.list li .list-wrapp a {
  left:0;
  right: auto;
  background-color: #31438D;
  color: #ffffff;
}

.button.small {
  font-size: 14px;
  font-family: "GothamRoundedBoldItalic";
  text-transform: uppercase;
}

.button.small:active, .button.small:hover {
  background-color: #919392;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.button.small.style-2 {
  background-color: #FD6F1D;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.newest-photos-slider {
  margin-top: 20px;
}

.main-content.map{
  padding-left: 1px;
  padding-right: 1px;
}

#map { width:100%; height:420px;}

footer, .copyright {
  background-color: #2F2F2F;
  color: #fff;
}

@media all and (max-width: 1050px){
  .nav-main-menu {
    display: none !important;
  }
}

@media all and (max-width: 1285px){
  .img-wrapper {
    padding: 30px 20px !important;
  }
}


.menu-distance{
  padding-top: 170px;
}
