<div class="main-content">
    <!-- ######################### MAIN CONTENT ######################### -->
    <div class="main-content-wrapp">

        <!-- title -->
        <div class="title">
          <p>FILTRO DE EDADES</p><br>
            <a href="#" class="button small style-1">
            Todas
          </a>
            <!-- link -->
            <a href="#" class="button small style-1">
            Menores de 3
          </a>
            <!-- link -->
            <a href="#" class="button small style-1">
            3 - 6
          </a>
            <!-- link -->
            <a href="#" class="button small style-1">
            3 - 10
          </a>
            <!-- link -->
            <a href="#" class="button small style-1">
            Mayores de 10
          </a>
            <!-- link -->

        </div>
        <!-- gallery list -->
        <ul class="list">
            <!-- entry -->
            <li>
                <!-- wrapp -->
                <div class="list-wrapp">
                    <!-- img -->
                    <img src="http://placehold.it/640x480" alt="img">
                    <!-- link -->
                    <a href="gallery_open.html" class="button small style-3">
                      <i class="fa fa-angle-right"></i> Conocer Más
                    </a>
                </div>
            </li>
            <!-- entry -->
            <li>
                <!-- wrapp -->
                <div class="list-wrapp">
                    <!-- img -->
                    <img src="http://placehold.it/640x480" alt="img">
                    <!-- link -->
                    <a href="gallery_open.html" class="button small style-3">
                      <i class="fa fa-angle-right"></i> Conocer Más
                    </a>
                </div>
            </li>
            <!-- entry -->
            <li>
                <!-- wrapp -->
                <div class="list-wrapp">
                    <!-- img -->
                    <img src="http://placehold.it/640x480" alt="img">
                    <!-- link -->
                    <a href="gallery_open.html" class="button small style-3">
                      <i class="fa fa-angle-right"></i> Conocer Más
                    </a>
                </div>
                <!-- title -->
            </li>
            <!-- entry -->
            <li>
                <!-- wrapp -->
                <div class="list-wrapp">
                    <!-- img -->
                    <img src="http://placehold.it/640x480" alt="img">
                    <!-- link -->
                    <a href="gallery_open.html" class="button small style-3">
                      <i class="fa fa-angle-right"></i> Conocer Más
                    </a>
                </div>
            </li>
            <!-- entry -->
            <li>
                <!-- wrapp -->
                <div class="list-wrapp">
                    <!-- img -->
                    <img src="http://placehold.it/640x480" alt="img">
                    <!-- link -->
                    <a href="gallery_open.html" class="button small style-3">
                      <i class="fa fa-angle-right"></i> Conocer Más
                    </a>
                </div>
            </li>
            <!-- entry -->
            <li>
                <!-- wrapp -->
                <div class="list-wrapp">
                    <!-- img -->
                    <img src="http://placehold.it/640x480" alt="img">
                    <!-- link -->
                    <a href="gallery_open.html" class="button small style-3">
                      <i class="fa fa-angle-right"></i> Conocer Más
                    </a>
                </div>
            </li>

        </ul>
        <!-- link -->
        <a href="#" class="button small style-2">
          Ver Todas las Atracciones
        </a>
    </div>

    <!-- ######################### /MAIN CONTENT ######################### -->

</div>
