<div class="main-content">
    <!-- ######################### MAIN CONTENT ######################### -->
    <div class="main-content-wrapp">


    <div class="newest-photos-slider">

      <div class="item"><img src="http://placehold.it/640x480" alt="Owl Image"></div>
      <div class="item"><img src="http://placehold.it/640x480" alt="Owl Image"></div>
      <div class="item"><img src="http://placehold.it/640x480" alt="Owl Image"></div>
      <div class="item"><img src="http://placehold.it/640x480" alt="Owl Image"></div>
      <div class="item"><img src="http://placehold.it/640x480" alt="Owl Image"></div>
      <div class="item"><img src="http://placehold.it/640x480" alt="Owl Image"></div>
      <div class="item"><img src="http://placehold.it/640x480" alt="Owl Image"></div>
      <div class="item"><img src="http://placehold.it/640x480" alt="Owl Image"></div>

    </div>


    </div>
</div>
