<div class="ds bg-orange bg-parallax section_padding_top_80 section_padding_bottom_80">
  <div class="container parallax-content">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="parallax-title">
        <img class="circle width-70" src="http://placehold.it/512x512">
        <h2>¿Deseas celebrar un evento en nuestro parque?</h2>
        <p class="lead">¡Celebre sus fiestas en Adventure Land y regala momentos inolvidables!</p>
      </div>


    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="banner-01 text-center">
        <div class="banner-01__icon-wrapp">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        </div>
        <h3 class="banner-01__title">Calendario de eventos</h3>
        <p class="banner-01__text">Alquiler de salones de fiestas para cumpleaños, eventos corporativos, eventos especiales, eventos de colegios, torneos de futbol o golf.</p>
        <a href="#" class="button-adventure2 bg-blue">Ir a Calendario</a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="banner-01 text-center">
        <div class="banner-01__icon-wrapp">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <h3 class="banner-01__title">Contáctanos</h3>
        <p class="banner-01__text">¡Saludos, aventureros! <br>Los esperamos para vivir pura diversión en Adventure Land, el parque para toda la familia.</p>
        <a href="#" class="button-adventure2 bg-blue">Contacto</a>
      </div>
    </div>
  </div>
</div>
