<!-- slider -->

			<div class="slider-wrapp">
				<div class="main-slider">
					<!-- item -->
					<div class="item img-1">
						<div class="cover">
							<div class="content">
								<div class="one-fourth">
									<img src="http://placehold.it/320x140" alt="" />
								</div>
								<div class="two-third">
									<h1>New album review</h1>
									<p>
										Mauris dapibus orci a dignissim congue. Morbi lacus ante, vestibulum et lectus vitae,
										emper laoreet lectus. Donec at dictum ipsum, eu venenatis nulla. Vivamus viverra nunc vitae
										neque euismod, eget pretium erat varius. Nullam eget diam tortor.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- item -->
					<div class="item img-2">
						<div class="cover">
							<div class="content">
								<div class="one-fourth">
									<img src="http://placehold.it/320x140" alt="" />
								</div>
								<div class="two-third">
									<h1>New album review</h1>
									<p>
										Mauris dapibus orci a dignissim congue. Morbi lacus ante, vestibulum et lectus vitae,
										emper laoreet lectus. Donec at dictum ipsum, eu venenatis nulla. Vivamus viverra nunc vitae
										neque euismod, eget pretium erat varius. Nullam eget diam tortor.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- item -->
					<div class="item img-3">
						<div class="cover">
							<div class="content">
								<div class="one-fourth">
									<img src="http://placehold.it/320x140" alt="" />
								</div>
								<div class="two-third">
									<h1>New album review</h1>
									<p>
										Mauris dapibus orci a dignissim congue. Morbi lacus ante, vestibulum et lectus vitae,
										emper laoreet lectus. Donec at dictum ipsum, eu venenatis nulla. Vivamus viverra nunc vitae
										neque euismod, eget pretium erat varius. Nullam eget diam tortor.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- item -->
					<div class="item img-4">
						<div class="cover">
							<div class="content">
								<div class="one-fourth">
									<img src="http://placehold.it/320x140" alt="" />
								</div>
								<div class="two-third">
									<h1>New album review</h1>
									<p>
										Mauris dapibus orci a dignissim congue. Morbi lacus ante, vestibulum et lectus vitae,
										emper laoreet lectus. Donec at dictum ipsum, eu venenatis nulla. Vivamus viverra nunc vitae
										neque euismod, eget pretium erat varius. Nullam eget diam tortor.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- /slider -->
