<div class="banner-02  section_padding_bottom_10">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 filter-title filter-left">
        Filtro por edades
      </div>
      <div class="col-md-12">
        <div class="filters isotope_filters isotope_filters2">
          <a href="#" data-filter="*" class="selected">Todas</a>
          <a href="#" data-filter=".0a">- 3 Años</a>
          <a href="#" data-filter=".3a">+ 3 Años</a>
          <a href="#" data-filter=".10a">+ 10 Años</a>
          <a href="#" data-filter=".adultos">Adultos</a>
        </div>
      </div>

    </div>

    <div class="row isotope_container isotope" data-filters=".isotope_filters">
      {% for attraction in site.attractions %}
      <div class="isotope-item text-xs-center col-sm-6 col-md-6 col-lg-6 p-15 {{attraction.age}}">
        <div class="banner-02-wrapp">
          <figure class="banner-02__img">
            <img src="/assets/images/atracciones/{{attraction.image}}" alt="{{attraction.alt}}">
          </figure>
          <div class="banner-02__content">
            <div class="banner-02__table">
              <div class="banner-02__row">
                <div class="banner-02__col">
                  <h3 class="banner-02__title shadow">{{attraction.name}}</h3>
                  <div class="banner-02__block_atr">
                    <h3 class="banner-02__title_atr">{{attraction.name}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="banner-02__text">{{attraction.description}}</p>
          <a href="{{attraction.link}}" class="banner-02__btn">More</a>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
</div>
