<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>Adventure Land - {{ page.title }}</title>
    <meta charset="utf-8">
    <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% asset_path 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% asset_path 'css/main.css' %}" id="color-switcher-link">
    <link rel="stylesheet" href="{% asset_path 'css/animations.css' %}">
    <link rel="stylesheet" href="{% asset_path 'css/fonts.css' %}">
    <script src="{% asset_path 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

    <!--[if lt IE 9]>
  <script src="{% asset_path 'js/vendor/html5shiv.min.js' %}"></script>
  <script src="{% asset_path 'js/vendor/respond.min.js' %}"></script>
  <script src="{% asset_path 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<![endif]-->

</head>

<body>
  <div class="preloader">
		<div class="preloader_image"></div>
	</div>

  <!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<div class="widget widget_search">
			<form method="get" class="searchform form-inline" action="/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="theme_button">Search</button>
			</form>
		</div>
	</div>

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->
			<div class="ds page_topline topline-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 col-md-5 col-lg-5 text-xs-center">
							<div class="page_topline__mail-wrapp">
								<a href="mailto:fitness@support.com" class="page_topline__mail">fitness@support.com</a>
							</div>
							<a href="#" class="page_topline__phone">10-391-584-471</a>
						</div>
						<div class="col-sm-2 col-md-2 col-lg-2 text-center">
							<a href="./" class="logo logo_image">
								<img src="images/logo.png" alt="">
							</a>
						</div>
						<div class="col-sm-5 col-md-5 col-lg-5 text-xs-center text-right">
							<ul class="social-list">
								<li>
									<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
								</li>
								<li>
									<a href="#" class="fa fa-twitter" aria-hidden="true"></a>
								</li>
								<li>
									<a href="#" class="fa fa-pinterest-p" aria-hidden="true"></a>
								</li>
								<li>
									<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
								</li>
								<li>
									<a href="#" class="fa fa-linkedin" aria-hidden="true"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

      <!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">
		  {% include header.html %}
      {{ content }}
      {% include footer.html %}
		</div>
  </div>

    <script src="{% asset_path 'js/compressed.js' %}"></script>
    <script src="{% asset_path 'js/main.js' %}"></script>
</body>

</html>
